@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
/* Styling the navbar */
.navbar{
    background-color: #1B1B1B;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    font-size: 18px;
    margin: auto;
    color: #fff;
    padding: 12px;
    z-index: 10;
    /* width: 66.1%;
    position: fixed; */
    /* justify-content: center; */
    font-family: 'Ubuntu', sans-serif;
    /* display: flex; */
    height: 60px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

/* navbar Logo and ul Styling */
.navbar a.navbar-logo{
    float: left;
    padding: 0 30px;
    font-size: 25px;
    color: #365D95;
    height: inherit;
    line-height: inherit;
    letter-spacing: 2px;
    font-weight: 400;
}

.navbar a.navbar-logo span{
    color: #d31e25;
    font-weight: 700;
}

.navbar ul{
    float: right;
    line-height: inherit;
    height: inherit;
    display: inline-block;
    list-style: none;
    padding: 0 40px;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul li a{
    text-align: center;
    padding: 0 15px;
    display: block;
}
.navbar ul li a:hover{
    color: #d31e25;
    transition: all ease-in-out 0.3s;
}
/* toggle Button styling */
.navbar .toggle-navbar{
    display: none;
}

/* Media Qury on the responsiveness */
@media (max-width: 990px){
    .navbar ul{
        padding: 0 10px;
    }
    .navbar ul li a{
        padding: 0 20px;
        min-width: 100px;
    }
}
@media (max-width: 769px){
    .navbar a.navbar-logo{
        margin-top: 15px;
    }
    .navbar {
        padding: 0;
        text-align: center;
    }
    .navbar ul{
        width: 100%;
        background-color: black;
        height: auto;
        position: relative;
        height: 100;
        max-height: 0;
        height: 100vh;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    .navbar ul.open{
        max-height: 100vh;
    }
    .navbar ul li {
        width: 100%;
        
        padding-top: 40px;
    }
    .navbar ul li a{
        padding: 0;
    }
    .navbar .toggle-navbar{
        margin-top: 10px;
        display: block;
        position: absolute;
        height: 40px;
        right: 20px;
        top: 20px;
        color: #d31e25;
        background-color: transparent;
        border: none;
        padding: 0 5px;
        cursor: pointer;
    }
    .navbar .toggle-navbar span,
    .navbar .toggle-navbar span::before,
    .navbar .toggle-navbar span::after{
        display: block;
        /* border-radius: 4px; */
        content: '';
        background-color: #d31e25;
        width: 28px;
        height: 3px;
        transition: all ease-in-out 0.3s;
    }
    .navbar .toggle-navbar span::before{
        transform: translateY(-8px);
    }
    .navbar .toggle-navbar span::after{
        transform: translateY(5px);
    }

    /* x sighn formed to remove */
    .navbar .toggle-navbar.open-navbar span{
        background-color: transparent;
    }
    .navbar .toggle-navbar.open-navbar span::before{
        transform: translateY(0px) rotate(45deg);
    }
    .navbar .toggle-navbar.open-navbar span::after{
        transform: translateY(-3px) rotate(-45deg);
    }
}

/* Styling the Home Section */
.home .max-width .content img{
    /* background-image: url("https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 60vh;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    object-fit: cover;
    margin-left: 0;
    
    /* min-height: 500px; */

}

.home .max-width{
    padding-top: 0;
    margin: auto 0 auto 0;
}

.home .content .first-text{
    font-size: 15px;
    position: absolute;
    top: 8px;
    margin-top: 200px;
    margin-left: 20px;
    color: #f4f4f4;
  /* left: 16px; */
    
}

.home .content .second-text{
   
    margin-left: -3px;
    font-weight: 600;
    position: absolute;
    top: 8px;
    margin-top: 250px;
    margin-left: 20px;
    color: #f4f4f4;
    font-size: 60px;
}

.home .content .third-text{
    font-size: 30px;
    margin: 5px 0;
    font-weight: 200;
    position: absolute;
    top: 8px;
    margin-top: 300px;
    margin-left: 20px;
    color: #f4f4f4;
}

.home .content .third-text span {
    color: #d31e25;
    font-weight: 600;
}

/* The Mission Title */
.mission{
    font-family: 'Poppin', sans-serif;
}
.mission{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.mission .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: aqua;
    
    transform: translateX(-50%);
}
.mission .title::after{
    content: "Towards My Community";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    background: #fff;
    color: #d31e25;
    transform: translateX(-50%);
}

main{
    padding-top: 50px;
    flex: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
}

#main img{
    border-radius: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.mission{
    font-family: 'Poppin', sans-serif;
}
.mission{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.mission .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 300px;
    height: 3px;
    background: aqua;
    
    transform: translateX(-50%);
}
.mission .title::after{
    content: "Towards My Community";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    padding: 5px;
    background: #fff;
    color: #d31e25;
    transform: translateX(-50%);
}
/* Main And Article Section */

#main .right .text{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
#main .right .text span{
    color: #d31e25;
    
}



#main .right .text-center{
    display:block;
    width: 100px;
    background: #d31e25;
    color: #fff;
    padding-top: 5px;
    margin-left: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    margin-top: 20px;
    border: 2px solid #d31e25;
    transition: all 0.3s ease;
}

/* ionarticle and aside sect */
#welcome {
    margin: auto;
    background: #f4f4f4;
    justify-content: center;
    overflow-y: auto;
    flex: 2;
    height: 500px;
}

  #sidebar {
    flex: 1;
    background: #f4f4f4;
    overflow-y: auto;
    height: 500px;
  }

  .clr {
    clear: both;
  }

  /* Working on the About Page */
  .section{
      /* min-height: 100vh; */
      background-color: #ddd;
      margin-top: 10px;
      width: 100%;
  }
  .container{
      display: flex;
      width: 100%;
      margin: auto;
      padding-top: 60px;
  }
  .section-content{
      width: 55%;
      float: left;
      width: 100%;
      margin: auto;
  }
  .img-section{
      float: right;
      width: 100%;
      border-radius: 10px;
  }
  .img-section img{
      height: auto;
      width: 100%;
      margin-bottom: 50px;
      padding-right: 10px;
      border-radius: 10px;
  }
  .section-content .title{
      font-size: 28px;
      padding-left: 30px;
  }
  .section-content .text-content h3{
      margin-top: 20px;
      color: #d31e25;
      padding-left: 20px;
      font-size: 23px;
  }
  .section-content .text-content p{
      font-family: 'Ubuntu', sans-serif;
      margin-top: 10px;
      font-size: 17px;
      padding-left: 20px;
      line-height: 1.5;
  }
  .section-content .social-link{
      margin-top: 40px; 
      margin-left: 40px;
  }
  .section-content .social-link i{
      font-size: 30px;
      padding: 0px 10px;
      color: #d31e25;
  }
  .section-content .social-link i:hover{
    color: #4294FF;
  }

/* Contact Section Details */
.contact-process{
    padding: 40px 60px;
    padding-bottom: 10px;

}
.contact-process h3{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600px;
    margin-bottom: 30px;
}
.contact-detail{
    padding: 0px;  
}
.row-input{
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
}
.row-input .group-input{
    flex-basis: 45%;
}
label{
    display: block;
    color: #d31e25;
    margin-bottom: 7px;
}

input{
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    width: 100%;
}
textarea{
    box-sizing: border-box;
    outline: none;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}
button{
    color: floralwhite;
    width: 100px;
    outline: none;
    background-color: #d31e25;
    border: none;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-detail h3{
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600px;
}
/* table contact styling */
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 30px;
}

  /* footer */
#footer {
    background: #333;
     color: #d31e25;
    padding: 5px;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
	margin-top:5px;
    height: 25px;
}

#footer p{
	color: #fff;
     padding-left: 5px;
      font-family: 'Ubuntu', sans-serif;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
  }
